@import url("navbar.css");
@import url("dark.css");

/* base font size */
html {
    font-size: 10pt;
}

/* responsive media */
img,
svg {
    max-height: 80vh;
}


/* TODO: emove hack for math zooming */
figure[role="math"] {
    zoom: 1.4;
}

/* TODO: Think about hovering margin notes */
@media (max-width: 760px) {

    /* Disable collapsing of marginnotes on narrow screens */
    .marginnote {
        display: block;
        float: none;
        position: static;
        width: 90%;
        margin: 0.5em 0 0.5em auto;
    }

    /* Limit image width on narrow screens */
    .marginnote img,
    .marginnote svg {
        max-width: calc(760px / 3);
        margin: 0 auto;
        display: block;
    }

    /* Enable hyphenation on narrow screens */
    p {
        hyphens: auto !important;
    }
}