name: Deploy

on:
  workflow_dispatch: # Manual trigger
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Build the site
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: typst-community/setup-typst@v4
      - uses: actions/setup-go@v6
        with:
          cache: false
      - run: go install github.com/tdewolff/minify/v2/cmd/minify@v2.24.7
      # NOTE: Remove `cd template` step when deploying template from Typst Universe
      - run: |
          make link
          cd template
          make html
          minify --recursive --inplace _site/
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v4
        with:
          path: template/_site

  # Publish to GitHub Pages
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
